<header>
    <nav class="navbar">
        <div class="logo">
            <img src="/images/Energy.png" alt="Energy Comercializadora">
        </div>
        <ul class="nav-links">
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/pages/productos.html">Productos</a></li>
            <li><a href="/pages/nosotros.html">Nosotros</a></li>
            <li><a href="/pages/servicios.html">Servicios</a></li>
            <li><a href="/pages/contacto.html">Contacto</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>
